* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(img/money-bg.jpg);
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    place-items: center;
}

header {
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
}

main {
    margin-top: 60px;
    width: 250px;
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}